*{
	margin: 0;
	padding:0;
}
body {
	background-color: #D6D6D6;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1.5em;
}
.maincontent{
	width: 75%;
	margin:0 auto;
	padding:0px;
	height: auto;

}
.sidebar{
	float: left;
	width: 30%;
	background-color: #023854;
	padding-bottom: 150px;
	
}
#my-img-1{
	padding: 20px 0px;
}
.my-img {
	background-color: #fff;
	width: 175px;
	height: 175px;
	border:7px solid #C61149;
	border-radius:100px;
	-webkit-border-radius:100px;
    -moz-border-radius: 100px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.info{
	max-width: 75%;
	color: #fff;
	text-align: left;
	padding-left: 10px;

}
h4 {
	margin: 0px 0px 0px -20px;
	background-color: #C61149;
	color: #fff;
	padding: 6px 10px;
	border-radius: 10px;
	-webkit-border-radius:10px;
    -moz-border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
	
}

span {
	font-size: 20px;
}
.list1 li {
	list-style: none;

}

.list1 i{
	font-size: 20px;
}

.content{
	float: left;
	width: 68%;
	padding: 10px;
	margin: 0 auto;
	background-color: #fff;
	background-size: cover;

}

.h4-1{
	position: absolute;
	width: 40%;
	float: left;
	background-color: #C61149;
	color: #fff;
	margin: 0px 0px 0px -20px;
	padding: 8px 10px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 16px;
	border-radius: 10px;
	-webkit-border-radius:10px;
    -moz-border-radius: 10px;

}

h1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
	padding-top:20px;
}

.icon i{
	padding:10px 10px;
	font-size: 35px;	
}


/*--------------------media query----------------------------*/ 
@media screen and (max-width: 1350px ) {

.content { 
        width: 67%;
    } 
        
.sidebar { width: 29%;

}

         }

@media screen and (max-width: 1200px ) {

.maincontent{
	width: 90%;
	padding: 0px;
	margin-left: 95px;
	font-size: 15px;

}

.content { 
        width: 65%;
        margin:0 auto;
        height: auto;
        padding-bottom: 35px;
} 
        
.sidebar { 
	width: 26%;
	margin:0 auto;
	height: auto;
	
}
.h4-1 ,h4 {
	font-size: 13px;
}

h1{
	font-size: 25px;
}

         }

@media screen and (max-width: 900px ) {

.maincontent{
	width: 100%;
	padding: 0px;
	margin-left: 20px;
	font-size: 13px;

}

.content { 
        width: 65%;
        margin:0 auto;
        padding-top: 30px;      
} 
        
.sidebar { width: 30%;
	margin:0 auto;
	
}
.my-img {
	width:150px; 
	height:150px;
}

span {
	font-size:16px;
}

.list1 i{
	font-size: 17px;
}

.h4-1 {
	margin:0px 0px 0px -12px;
	font-size:12px;
}

h1{
	font-size: 25px;
}
h4 {font-size:12px;
}

         }


@media screen and (max-width: 700px ) {

.maincontent{
	width: 100%;
	padding: 0px;
	margin-left: 30px;
	font-size: 13px;

}

.content { 
        width: 60%;
       
              
} 
        
.sidebar { 
	width: 25%;
	height: 1280px;

	
}
.my-img {
	width:120px; 
	height:120px;
}

span {
	font-size:16px;
}

.h4-1 {
	margin:0px 0px 0px -9px;
	font-size:12px;
	padding:7px;
}
.list1 i{
	font-size: 15px;
}

h1{
	font-size: 25px;
}
h4 {font-size:12px;
	padding: 7px;
}

.icon i{
	padding:5px 5px;
	font-size: 20px;	
}

         }


@media screen and (max-width: 550px ) {

.maincontent{
	width: 100%;
	padding: 0px;
	margin-left: 35px;
	font-size: 13px;

}

.content { 
        width: 60%;


       
              
} 
        
.sidebar { 
	width: 25%;
	height: 1350px;

	
}
.my-img {
	width:75px; 
	height:75px;
}

span {
	font-size:15px;
}

.list1 i{
	font-size: 10px;
}

.h4-1 {
	margin:0px 0px 0px -12px;
	font-size:10px;
}

h1{
	font-size: 20px;
}
h4 {
	font-size:10px;
}

.icon i{
	padding:2px 2px;
	font-size: 10px;	
}

         

#mail {
	font-size: 10px;
}

	}


@media screen and (max-width: 415px ) {

.maincontent{
	width: 100%;
	padding: 0px;
	margin-left: 25px;
	font-size: 10px;

}

.content { 
		width: 60%;



		
				
} 
		
.sidebar { 
	width: 25%;
	height: 1320px;

	
}
.my-img {
	width:65px; 
	height:65px;
}

span {
	font-size:11px;
}

.h4-1 {
	margin:0px 0px 0px -12px;
	font-size:10px;
}

h1{
	font-size: 20px;
}
h4 {
	font-size:10px;
}

.list1 i{
	font-size: 10px;
}

.icon i{
	padding:2px 2px;
	font-size: 8px;	
}

			

#mail {
	font-size: 8px;
}

	}
