*,html,body{
     margin:0; padding:0; 
       
}

body{
    background-image: url(images/sky-background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#003366;    
    box-sizing: border-box;
    font-family:'Lora', serif;
    
}

header { 
    
    width: 100%;
    background-color: whitesmoke;
    height: 85px;
    border-radius: 15px;
}

h1{
    text-align: center;
    font-size: 70px;
    color: #003366;
    text-shadow: 3px 3px #70B3CD;
    letter-spacing:12px;
    font-weight: bold;
}

section{
    clear: both;
    padding: 30px 0px;
}



h2{
    text-align: center;
    font-size: 40px;
    padding-bottom :15px;
    
}
h3{
    text-align: center;
    padding-top:15px;
    font-weight:800;
}

p{
    text-align: center;
    padding: 2px 4px;

}


img {
    width: 80%;
    display: block;
    margin: auto;
    
}


.grid-item {
    height:500px; 
}

#grid-floats > li:hover{
    border: 1px solid #21A3F1 ;
    
}
#grid-floats li {
    width: 22.6%;
    float: left;
    box-sizing: content-box;
    list-style: none;
    margin: 1.1%;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    

}

#grid-floats li:first-child {
    width: 47.5%;
    float: left;    

}

#grid-floats    .grid-item:nth-child(2),
#grid-floats   .grid-item:nth-child(4),
#grid-floats    .grid-item:nth-child(6),
#grid-floats   .grid-item:nth-child(9),
#grid-floats    .grid-item:nth-child(11),
#grid-floats   .grid-item:nth-child(13) {

    background-color: whitesmoke;
}

#grid-floats   .grid-item:nth-child(12)
{
    margin-left: 14%;
}

#grid-floats {
    float: center;
}
/* ============= Grid with flexbox ===================*/

#grid-flex {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    

}
#grid-flex li {
    width: 22.6%;
    box-sizing: content-box;
    list-style: none;
    margin: 1.1%;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}

#grid-flex li:first-child{
    width: 47.5%;

}

#grid-flex   .grid-item:nth-child(12)
{
    margin-left: 14%;
}

#grid-flex > li:hover{
    border: 1px solid #21A3F1 ;
    
}

#grid-flex    .grid-item:nth-child(2),
#grid-flex   .grid-item:nth-child(4),
#grid-flex    .grid-item:nth-child(6),
#grid-flex   .grid-item:nth-child(9),
#grid-flex    .grid-item:nth-child(11),
#grid-flex   .grid-item:nth-child(13) 
{
    background-color: whitesmoke;
}

/* ============= MEDIA QUERY ===================*/

@media screen and (min-width: 601px) and (max-width: 1024px) {
 
#grid-floats li {
    width: 30%;
    margin-left: 11px;
    
        
}

#grid-floats  .grid-item:nth-child(1),
#grid-floats  .grid-item:nth-child(2) {
    
    width:46.2% ;
    
}

#grid-floats   .grid-item:nth-child(12) {
    margin-left: 1.7%;
}

#grid-flex li {
    width: 30%;
    margin-left: 11px;
        
}

#grid-flex  .grid-item:nth-child(1),
#grid-flex  .grid-item:nth-child(2) {
    width:46.2% ;
    
}

#grid-flex   .grid-item:nth-child(12) {
    margin-left: 1.7%;
}




}




/* ============= Max-widht 600px ===================*/

@media screen and (max-width: 600px) and (min-width:350px) {

header {
    height: 70px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 22px;
    padding-bottom :15px;
}

h3{
    padding-top:15px;
    font-weight:800;
    font-size:13px;
}

p{
    padding: 12px 2px 0px 2px;
    font-size:10px;
    font-weight:600;

}
.grid-item {
    height:420px; 
}

#grid-floats li {
    width: 45%;
    margin-left: 11px;
    
    
        
}

#grid-floats  .grid-item:nth-child(1) {
    
    width:93.2% ;
    
}

#grid-floats   .grid-item:nth-child(12) {
    margin-left: 2%;
}

#grid-floats   .grid-item:nth-child(14) {

width: 93.2%;
}
#grid-flex li {
    width: 45%; 
    margin-left: 11px;
        
}

#grid-flex  .grid-item:nth-child(1) {
    width:93.2% ;
    
}

#grid-flex   .grid-item:nth-child(12) {
    margin-left: 2%;
}
#grid-flex   .grid-item:nth-child(14) {

    width: 93.2%;
}

}

@media screen and (max-width:350px) {
main {
        display: none;
}
header{
    display: none;
}

body::after {
    content: "PLEASE ENLARGE YOUR BROWSER" ;
}
body{
    background-image: none;
    font-size: 40px;
    color:black ;
    font-weight: bolder;
}
}